<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base :: head" th:remove="tag"></div>
    <title>Login page</title>
</head>
<body>
<div th:replace="base :: navbar" th:remove="tag"></div>
<div class="container">
    <h2>Login Form</h2>
    <form method="POST" action="#" th:action="@{/login}">
        <div class="form-group">
            <label for="username">Username</label>
            <input required  type="text" name="username" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input required  type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

<div th:replace="base :: scripts" th:remove="tag"></div>
</body>
</html>